<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
  <head th:include="layout :: htmlhead"></head>
  <body style="background-color: #f3f3f3">
    <nav th:replace="layout :: menu">(menu)</nav>
    <main>
        <div class="principal">
          <h3 style="text-align:center">Termo</h3>
          <br>
          <div class="fundo_jogo">
            <div class="container text-center" style="max-width:400px;">
              <div class="row row-cols-2 row-cols-lg-6 g-2 g-lg-3">
                <div class="col">              
                  <input type="text" class="form-control border border-secondary" maxlength="1" style="text-align: center; font-family: Arial, Helvetica, sans-serif; font-size: 20px;">
                </div>
                <div class="col">
                  <input type="text" class="form-control border border-secondary" maxlength="1" style="max-width:70px; max-height:800px; text-align: center; font-family: Arial, Helvetica, sans-serif; font-size: 20px;">
                </div>
                <div class="col">
                  <input type="text" class="form-control border border-secondary" maxlength="1" style="max-width:70px; max-height:800px; text-align: center; font-family: Arial, Helvetica, sans-serif; font-size: 20px;">
                </div>
                <div class="col">
                  <input type="text" class="form-control border border-secondary" maxlength="1" style="max-width:70px; max-height:800px; text-align: center; font-family: Arial, Helvetica, sans-serif; font-size: 20px;">
                </div>
                <div class="col">
                  <input type="text" class="form-control border border-secondary" maxlength="1" style="max-width:70px; max-height:800px; text-align: center; font-family: Arial, Helvetica, sans-serif; font-size: 20px;">
                </div>
                <div class="col">              
                <button type="button" class="btn btn-secondary" style="max-height: 80px;";>Enviar</button>
                </div>
              </div>
            </div>
            <br>
            <div class="container text-center" style="max-width:400px;">
              <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
                <div class="col">              
                  <input type="text" class="form-control border border-secondary" maxlength="1" style="max-width:70px; max-height:800px; text-align: center; font-family: Arial, Helvetica, sans-serif; font-size: 20px;">
                </div>
                <div class="col">
                  <input type="text" class="form-control border border-secondary" maxlength="1" style="max-width:70px; max-height:800px; text-align: center; font-family: Arial, Helvetica, sans-serif; font-size: 20px;">
                </div>
                <div class="col">
                  <input type="text" class="form-control border border-secondary" maxlength="1" style="max-width:70px; max-height:800px; text-align: center; font-family: Arial, Helvetica, sans-serif; font-size: 20px;">
                </div>
                <div class="col">
                  <input type="text" class="form-control border border-secondary" maxlength="1" style="max-width:70px; max-height:800px; text-align: center; font-family: Arial, Helvetica, sans-serif; font-size: 20px;">
                </div>
                <div class="col">
                  <input type="text" class="form-control border border-secondary" maxlength="1" style="max-width:70px; max-height:800px; text-align: center; font-family: Arial, Helvetica, sans-serif; font-size: 20px;">
                </div>
              </div>
            </div>
            <br>
            <div class="container text-center" style="max-width:400px;">
              <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
                <div class="col">              
                  <input type="text" class="form-control border border-secondary" maxlength="1" style="max-width:70px; max-height:800px; text-align: center; font-family: Arial, Helvetica, sans-serif; font-size: 20px;">
                </div>
                <div class="col">
                  <input type="text" class="form-control border border-secondary" maxlength="1" style="max-width:70px; max-height:800px; text-align: center; font-family: Arial, Helvetica, sans-serif; font-size: 20px;">
                </div>
                <div class="col">
                  <input type="text" class="form-control border border-secondary" maxlength="1" style="max-width:70px; max-height:800px; text-align: center; font-family: Arial, Helvetica, sans-serif; font-size: 20px;">
                </div>
                <div class="col">
                  <input type="text" class="form-control border border-secondary" maxlength="1" style="max-width:70px; max-height:800px; text-align: center; font-family: Arial, Helvetica, sans-serif; font-size: 20px;">
                </div>
                <div class="col">
                  <input type="text" class="form-control border border-secondary" maxlength="1" style="max-width:70px; max-height:800px; text-align: center; font-family: Arial, Helvetica, sans-serif; font-size: 20px;">
                </div>
              </div>
            </div>
            <br>
            <div class="container text-center" style="max-width:400px;">
              <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
                <div class="col">              
                  <input type="text" class="form-control border border-secondary" maxlength="1" style="max-width:70px; max-height:800px; text-align: center; font-family: Arial, Helvetica, sans-serif; font-size: 20px;">
                </div>
                <div class="col">
                  <input type="text" class="form-control border border-secondary" maxlength="1" style="max-width:70px; max-height:800px; text-align: center; font-family: Arial, Helvetica, sans-serif; font-size: 20px;">
                </div>
                <div class="col">
                  <input type="text" class="form-control border border-secondary" maxlength="1" style="max-width:70px; max-height:800px; text-align: center; font-family: Arial, Helvetica, sans-serif; font-size: 20px;">
                </div>
                <div class="col">
                  <input type="text" class="form-control border border-secondary" maxlength="1" style="max-width:70px; max-height:800px; text-align: center; font-family: Arial, Helvetica, sans-serif; font-size: 20px;">
                </div>
                <div class="col">
                  <input type="text" class="form-control border border-secondary" maxlength="1" style="max-width:70px; max-height:800px; text-align: center; font-family: Arial, Helvetica, sans-serif; font-size: 20px;">
                </div>
              </div>
            </div>
            <br>
            <div class="container text-center" style="max-width:400px;">
              <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
                <div class="col">              
                  <input type="text" class="form-control border border-secondary" maxlength="1" style="max-width:70px; max-height:800px; text-align: center; font-family: Arial, Helvetica, sans-serif; font-size: 20px;">
                </div>
                <div class="col">
                  <input type="text" class="form-control border border-secondary" maxlength="1" style="max-width:70px; max-height:800px; text-align: center; font-family: Arial, Helvetica, sans-serif; font-size: 20px;">
                </div>
                <div class="col">
                  <input type="text" class="form-control border border-secondary" maxlength="1" style="max-width:70px; max-height:800px; text-align: center; font-family: Arial, Helvetica, sans-serif; font-size: 20px;">
                </div>
                <div class="col">
                  <input type="text" class="form-control border border-secondary" maxlength="1" style="max-width:70px; max-height:800px; text-align: center; font-family: Arial, Helvetica, sans-serif; font-size: 20px;">
                </div>
                <div class="col">
                  <input type="text" class="form-control border border-secondary" maxlength="1" style="max-width:70px; max-height:800px; text-align: center; font-family: Arial, Helvetica, sans-serif; font-size: 20px;">
                </div>
              </div>
            </div>
            <br>
            <div class="container text-center" style="max-width:400px;">
              <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
                <div class="col">              
                  <input type="text" class="form-control border border-secondary" maxlength="1" style="max-width:70px; max-height:800px; text-align: center; font-family: Arial, Helvetica, sans-serif; font-size: 20px;">
                </div>
                <div class="col">
                  <input type="text" class="form-control border border-secondary" maxlength="1" style="max-width:70px; max-height:800px; text-align: center; font-family: Arial, Helvetica, sans-serif; font-size: 20px;">
                </div>
                <div class="col">
                  <input type="text" class="form-control border border-secondary" maxlength="1" style="max-width:70px; max-height:800px; text-align: center; font-family: Arial, Helvetica, sans-serif; font-size: 20px;">
                </div>
                <div class="col">
                  <input type="text" class="form-control border border-secondary" maxlength="1" style="max-width:70px; max-height:800px; text-align: center; font-family: Arial, Helvetica, sans-serif; font-size: 20px;">
                </div>
                <div class="col">
                  <input type="text" class="form-control border border-secondary" maxlength="1" style="max-width:70px; max-height:800px; text-align: center; font-family: Arial, Helvetica, sans-serif; font-size: 20px;">
                </div>
              </div>
            </div>
          </div>
        </div>
    </main>

    <div th:include="layout :: footer">(footer)</div>

    <script>
      function enviarFormulario(palavra) {
        var palavraJogada = document.getElementById("palavrajogada").value;

        $.ajax({
          url:
          "/consultar?palavra=" + palavra + "&palavrajogada=" + palavraJogada,
          method: "Get",
          success: function () {
            window.location.href = "/";
          },
        });
      }
    </script>
  </body>
</html>
